# Node modules
node_modules/

# Build output
dist/
*.log

# Environment files
.env*
pnpm-lock.yaml

# Editor config
.vscode/

# Next.js build output (recursive)
**/.next
**/.next/*

# Allow tsbuildinfo files inside .next/cache
!**/.next/cache/.tsbuildinfo

# TypeScript
*.tsbuildinfo

# Mac system files
.DS_Store

.npmrc

tmp/